.logo {
    width: 100px;
}

.sign-up-form {
    height: fit-content;
    text-align-last: center;
    width: 200px;
    display: inline-block;
    padding: 30px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    border: 1px solid black;
    border-radius: 35px;
    margin: auto;
}

.demoObject {
    -webkit-box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.37);
    box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.37);
    background-color: rgba(255, 255, 255, 0.450)  !important;

}

.forget-password a {
    font-weight: 800;
    font-size: smaller;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    color: rgb(107, 107, 255);

}

.link-warp {
    display: none;
}

.welcome-page {
    text-align: -webkit-center;
    background-image: url('../pics/beach-sand.jpeg');
    background-size: cover;
    height: -webkit-fill-available;
    background-repeat: no-repeat;
    width: 100%;
}
.umbrella{
    color: darkslategrey;
    position: absolute;
    left: 53px;
    right: 0;
    top: 50px;
    bottom: 0;
}